.volumn-center {
    flex: 1;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.volumn-tingTing {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 90%;
}
.volumn-head {
    position: absolute;
    bottom: 4rem;
    width: 10rem;
    height: 12.98rem;
    transform-origin: center 11rem;
    transition: all 0.2s ease;
}
.volumn-body {
    position: absolute;
    bottom: 0;
    width: 6rem;
    height: 7.778rem;
}