.timbre-center {
    flex: 1;
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.title h1 {
    color: #2a2a2a;
}
.title p {
    font-weight: 800;
}

/* timbreSection */
.timbre-timbreSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.timbre-timbreSection div {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    background-color: #fff;
}
.timbre-timbreSection h3 {
    width: 8rem;
    text-align: center;
    margin-top: -4rem;
    font-size: 2rem;
}
.timbre-timbreSection .timbre-piano {
    background-image: url(../../static/timbre/img/piano.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.timbre-timbreSection .timbre-guitar {
    background-image: url(../../static/timbre/img/guitar.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.timbre-timbreSection .timbre-violin {
    background-image: url(../../static/timbre/img/violin.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
/* progressing Ring */
.timbre-progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 0.25rem;
}
.circle {
    fill: none;
    stroke:rgb(255, 209, 149);
    stroke-width: 0.25rem;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
}

/* 按钮放大和缩小 */
.timbre-playing {
    transform: scale(1.1);
}
.timbre-piano,
.timbre-guitar,
.timbre-violin {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1000px) {
    .timbre-timbreSection div {
        width: 15rem;
        height: 15rem;
        border-radius: 7.5rem;
    }
}

@media (max-width: 800px) {
    .timbre-timbreSection div {
        align-items: center;
        width: 15rem;
        height: 15rem;
        border-radius: 7.5rem;
    }
    .timbre-timbreSection {
        width: 400px;
        flex-direction: column;
        align-items: flex-start;
    }
    .timbre-timbreSection h3 {
        margin-top: 0rem;
        margin-right: -25rem;
    }
}

@media (max-width: 500px) {
    .timbre-timbreSection {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .timbre-timbreSection div {
        align-items: center;
        width: 10rem;
        height: 10rem;
        border-radius: 5rem;
    }
    .timbre-timbreSection {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .timbre-timbreSection h3 {
        margin-top: 0rem;
        margin-right: -20rem;
    }
}